# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# SQLite database
*.db

# Node modules
frontend/node_modules/

# Vite build files
frontend/dist/